<form #verifyForm="ngForm"
      class="mt-3"
      (submit)="verify()">
    <vsf-centered-card i18n-title="@@almostDone"
                       title="Almost done!"
                       i18n-subTitle="@@_chooseAPassword"
                       subTitle="Now just choose a password to complete the process">
        <div class="input-group mb-3">
            <input class="form-control"
                   i18n-placeholder="@@password"
                   placeholder="Password"
                   type="password"
                   name="password"
                   aria-describedby="button-verify"
                   required
                   [(ngModel)]="password">

            <div class="input-group-append">
                <button class="btn btn-primary"
                        id="button-verify"
                        [disabled]="verifyForm.invalid"
                        type="submit"
                        i18n="@@createAccount">
                    Create account
                </button>
            </div>
        </div>
    </vsf-centered-card>
</form>
